<!DOCTYPE html>
<html lang="en-us">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles/normalize.css">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet/less" type="text/css" href="styles/style.less" />
	<script src="less.js" type="text/javascript"></script>
	<title> Knox Enterprises Inc.</title>
</head>
<body>	
	<header class="top-header">
	<nav>
		<i class="material-icons">menu</i>
		<a href="index.html">Home</a>
		<a href="About.html">About</a>
		<a href="Contact.html">Contact</a>
	</nav>
	<h2>Knox Enterprises Inc.</h2>
</header>
	{{! Every view gets inserted here }}
	{{{content}}}
</body>
</html>